/* universal css*/
html {
  font-family: Helvetica;
  font-size:22px;
  background-color: black;
  color:seashell;
  opacity:0.9;
  text-align: center;

}
/*Header*/
header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: black;
  color: seashell;
  border-bottom: 1px solid seashell;
  top:0;
  height: 69px;
  z-index: 1;
  width:100%;
}
span a{
  color:seashell;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left:10px;
  color: seashell;
}
.logo img{height: 50px;}

nav a {
  padding: 10px 10px 10px 10px;
}

/*Main Content*/
main footer{
  position: relative;
  top: 70px;
}
.mission{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height:700px;
  width: 1200px;
  margin: auto;
}

.description{
  background-color: black;
  opacity: 1;
  margin: auto;
  width: 1200px;
  color: seashell;
  line-height: 2;
}

h2{
  font-size: 1.5rem;
  font-weight: bold;
}

.featured-items{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.featured-item-card img {
  display: block;
  height: 200px;
  width: 300px;
  margin: 0 auto;
  padding: 0px 10px;
}
.featured-item-card h3  {
  margin: 10px auto 20px;
}
.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 1000px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.featured h2{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

.locations{
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  margin: auto;
  width:1200px;
  height: 500px;
}

  .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  margin: auto;
  height:300px;
  width: 300px;
  opacity: 1;
  background-color: black;
}

.title{
  display: block;
}

/*Footer*/
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  margin:auto;
  color: seashell;
  padding-top: 10px;
}
.copyright{
  display: flex;
  margin-left: 20px;
  padding-bottom:20px;
}
